<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="navbar">

    <nav class="navbar">
        <div style="margin: 10px 16px 0px 10px;">
            <form class="d-flex">
                <input class="form-control font" type="search" placeholder="멘토 검색하기!" aria-label="Search" >
                <button class="btn btn-outline-light font" style="background-color: rgba(216,90,123,1); font-size: 3px; width: 100px; "  type="submit">Search</button>
            </form>
            <hr style="margin: 5px; width: 308px;">
            <p class="navbar-brand font" style="text-align: center; margin: 0px; " href="#">DoDu</p>
        </div>
    </nav>

</th:block>
</html>