<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
                xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
                layout:decorate="~{layout/adminlay}">
<head>
    <style>

    </style>
</head>

<th:block layout:fragment="content">

    <h2>Home</h2>
    <div class="table-responsive">
            <p th:if="${session.admin !=null}">
                어서오세요. <span th:text="${session.admin.get().getNickname()}"></span>님!
            </p>
        <img src="https://velog.velcdn.com/images/amoeba25/post/8172902d-dba1-4d22-8d9d-cb27c7b5ff41/image.png" height="5\00px" />
    </div>

</th:block>


</html>