<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
       xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
       layout:decorate="~{layout/phonelayNotnav}">
<head>
    <style>
        .chat-parent{
            height: 630px;
            position: relative;
        }
        .send-box{
            position: relative;
            top: 10px;
            background-color: #fbeef1;
            padding-bottom: 10px;
        }
        .msg-box{
            padding: 0px 15px 0px 15px;
            margin-top: 10px;
            border: 1px solid black;
            height: 70%;
            width: 300px;
            background: #fff;
            border-radius: 40px;
            margin-right: 5px;
        }
        #send{
            padding: 1px 15px 1px 15px;
            background-color: #e79caf;
            color: white;
            border: 0px;
            border-radius: 40px;
        }
        .chat-content{
            overflow-y:scroll;
            padding: 0px 16px 0px 16px;
            margin-bottom: 0px !important;
        }
        .chat-content::-webkit-scrollbar{
            width: 4px;
        }
        .chat-content::-webkit-scrollbar-thumb{
            background-color: #fbeef1;
            border-radius: 10px;
        }

    </style>
</head>

<th:block layout:fragment="content" th:class="chat-parent">
    <nav class="navbar navbar-light bg-light" style="position: relative; padding: 0px; height: 50px; background-color: rgba(216,90,123,0.8)!important;">
        <div class="container-fluid" style="height: 26px;">
            <button class="navbar-toggler" type="button" style="padding: 0px; margin: 0px; width: 30px; height: 25px;" onclick="location.href='/'">
                <span class="font" style="width: 15px;height: 15px; " > < </span>
            </button>
            <p class="navbar-brand font"  style="font-size:17px; padding: 0px; margin: 0px;" href="#"><b>DoChat</b></p>

            <button class="navbar-toggler" style="padding: 0px; margin: 0px; width: 30px; height: 25px;" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                <span class="navbar-toggler-icon" style="width: 15px;height: 15px;"></span>
            </button>
            <div class="offcanvas"  style="position: absolute; top: 0px; left: 225px; right: 0px;   max-height: 667px; width: 150px; height: 667px;" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-header">
                    <p class="font"  style="font-size: 8px" id="offcanvasNavbarLabel">프로필 신고하기</p>
                    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav justify-content-end">
                        <li class="nav-item">
                        </li>
                    </ul>
                    <ul class="navbar-nav justify-content-end">
                        <li class="nav-item">
                            <a class="nav-link active font" style="font-size: 3px; color: black;" aria-current="page" href="#">프로필<br>신고하기</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active font" style="font-size: 3px;color: black;" aria-current="page" href="#">프로필<br>작성자<br>신고하기</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active font" style="font-size: 3px;color: black;" aria-current="page" href="#">멘토<br>안보이게하기</a>
                        </li>
                        <li class="nav-item">
                            <a id="outchat" class="nav-link active font" style="font-size: 3px;color: black;" aria-current="page">채팅나가기</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <!-- 안내문 -->
    <div class="alert alert-dark font" role="alert" style="text-align: center; font-size: 1px; margin: 10px auto 0px auto !important; padding: 5px; width: 250px;">
        <p style="margin-bottom: 0;">**주의사항**</p>
        <p style="margin-bottom: 0;">멘토링 중 전화번호 등의 <br>개인정보를 요구하거나 알려주지 마십시요. </p>
        <p style="margin-bottom: 4px;"></p>
    </div>
    <hr style="margin: 5px 10px 5px 10px">
    <div class="alert alert-light chat-content" style="height:480px; max-height: 480px;">
        <!--채팅 영역 -->
        <div class="line">
            <span class="chat-box "></span>
        </div>
        <div class="line">
            <span class="chat-box"></span>
        </div>
    </div>
    <!--전송 영역-->
    <div class="send-box" style="text-align: center">
        <input class="msg-box font" id="input" />
        <button id="send">전송</button>
    </div>

    <script type="module">
        import { Configuration, OpenAIApi } from 'https://cdn.skypack.dev/openai';

        let chatContent = document.querySelector('.chat-content');
        let input = document.querySelector('#input');

        const sendMessage = async () => {
            let date = new Date();
            let year = date.getFullYear();
            let month = date.getMonth();
            let day = date.getDate();
            let hour = date.getHours();
            let min = date.getMinutes();
            let clockTitle =`${year-2000}/${(month+1)<10?`0${(month+1)}`:(month+1)}/${day<10?`0${day}`:day}
                ${hour<13?` 오전 ${hour<10?`0${hour}`:hour}`:` 오후 ${(hour-12)<10?`0${(hour-12)}`:(hour-12)}`}
                : ${min<10?`0${min}`:min}
            `;
            let template = `
                <div class="input" style="margin-left: auto; width:auto!important; max-width: 70%;word-break: break-all; border-radius: 0.5rem; padding: 0.5rem; margin-bottom: 5px; background-color: #efbdca; color: black;">
                  <span class="chat-box font" style="display: flex; flex-direction: column-reverse;  text-align: right; justify-content: end; width: auto;">${input.value}</span>
                </div>
                <div class="font" style="font-size: 4px; text-align: right;">${clockTitle}</div>
            `;
            chatContent.insertAdjacentHTML('beforeend', template);
            setTimeout(() => {
                chatContent.scrollTo({ top: chatContent.scrollHeight, behavior: 'smooth' });
            }, 0);
            try {
                const response = await fetch('/api/v1/config');
                const data = await response.text();
                const configuration = new Configuration({
                    apiKey: data
                });
                const openai = new OpenAIApi(configuration);
                const result = await openai.createCompletion({
                    model: "text-davinci-003",
                    prompt: input.value,
                    temperature: 0.7,
                    max_tokens: 500,
                    top_p: 1,
                    frequency_penalty: 0,
                    presence_penalty: 0,
                });
                input.value = "";
                template = `
                  <div class="input" style="width: auto!important; max-width: 70%; word-break: break-all; border-radius: 0.5rem; padding: 0.5rem; margin-bottom: 5px; background-color: #f7dee4; color: black;">
                    <span class="chat-box font" style="display: flex; flex-direction: column-reverse;  text-align: left; width: auto;">${result.data.choices[0].text}</span>
                  </div>
                  <div class="font" style="font-size: 4px; text-align: left;">${clockTitle}</div>
                `;
                chatContent.insertAdjacentHTML('beforeend', template);
                const pos = input.getBoundingClientRect().top + window.pageYOffset;
                window.scrollTo({top: pos, behavior: 'smooth'});
            }
            catch (err) {
                console.log(err);
            }
            finally {
                setTimeout(() => {
                    chatContent.scrollTo({ top: chatContent.scrollHeight, behavior: 'smooth' });
                }, 0);
            }
        }

        document.querySelector('#send').addEventListener('click', sendMessage);

        input.addEventListener('keydown', (event) => {
            if (event.key === 'Enter') sendMessage();
        });

        document.querySelector("#outchat").addEventListener('click', () => {
            let out = confirm('채팅방을 정말 나가시겠습니까?');
            if(out) location.href='/';
        });
    </script>
</th:block>
</html>