<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
       xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
       layout:decorate="~{layout/phonelayNotnav}">
<head>
    <style>
        .send-box{
            position: relative;
            background-color: #fbeef1;
            padding-bottom: 10px;
        }
        .msg-box{
            padding: 0px 15px 0px 15px;
            margin-top: 10px;
            border: 1px solid black;
            height: 70%;
            width: 270px;
            background: #fff;
            border-radius: 40px;
            margin-right: 5px;
        }
        #sendbtn{
            padding: 1px 15px 1px 15px;
            background-color: #e79caf;
            color: white;
            border: 0px;
            border-radius: 40px;
        }
    </style>
</head>
<th:block layout:fragment="content" th:if="${chat}">
    <nav class="navbar navbar-light bg-light" style="position: relative; padding: 0px; height: 50px; background-color: rgba(216,90,123,0.8)!important;">
        <div class="container-fluid" style="height: 26px;">
            <button class="navbar-toggler" type="button" style="padding: 0px; margin: 0px; width: 30px; height: 25px;" onclick="location.href='/'">
                <span class="font" style="width: 15px;height: 15px;"> < </span>
            </button>
            <p class="navbar-brand font"  style="font-size:17px; padding: 0px; margin: 0px;" href="#"><b>DoChat</b></p>

            <button class="navbar-toggler" style="padding: 0px; margin: 0px; width: 30px; height: 25px;" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                <span class="navbar-toggler-icon" style="width: 15px;height: 15px;"></span>
            </button>
            <div class="offcanvas"  style="position: absolute; top: 0px; left: 225px; right: 0px;   max-height: 667px; width: 150px; height: 667px;" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-header">
                    <p class="font"  style="font-size: 8px" id="offcanvasNavbarLabel">프로필 신고하기</p>
                    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav justify-content-end">
                        <li class="nav-item">
                        </li>
                    </ul>
                    <ul class="navbar-nav justify-content-end">
                        <li class="nav-item">
                            <a class="nav-link active font" style="font-size: 3px; color: black;" aria-current="page" href="#">프로필<br>신고하기</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active font" style="font-size: 3px;color: black;" aria-current="page" href="#">프로필<br>작성자<br>신고하기</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active font" style="font-size: 3px;color: black;" aria-current="page" href="#">멘토<br>안보이게하기</a>
                        </li>
                        <li class="nav-item">
                            <a id="outchat" class="nav-link active font" style="font-size: 3px;color: black;" aria-current="page">채팅나가기</a>
                        </li>
                        <li class="nav-item">
                            <a id="gogpt" class="nav-link active font" style="font-size: 3px;color: black;" aria-current="page">chatGPT</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <div class="alert alert-light" style="min-height: 595px;">

        <!-- 안내문 -->
        <div class="alert alert-dark font" role="alert" style="text-align: center; font-size: 1px; margin: 0 auto; padding: 5px; width: 250px;">
            <p style="margin-bottom: 0;">**주의사항**</p>
            <p style="margin-bottom: 0;">멘토링 중 전화번호 등의 <br>개인정보를 요구하거나 알려주지 마십시요. </p>
            <p style="margin-bottom: 8px;"></p>
            <p style="margin-bottom: 0;" th:text="|멘토링 주제 : ${chat?.get().mentor.category.title}|"></p>
            <p style="margin-bottom: 0;" th:text="|${chat.get().mentor.category.title}에 대해 물어보세요!|"></p>
        </div>
        <br />
        <div class="chat-content">
            <div class="line" style="text-align: center">
                <span id="nick" th:value="${chat.get().getId()}" th:name="${user.getName()}" th:text="|${user?.getName()}님이 입장하셨습니다.|"></span>
            </div>
            <div class="line">
                <span class="chat-box mine"></span>
            </div>
        </div>

        <hr style="margin: 10px">
        <!--채팅 영역 -->
        <div id="chatarea" style="width: 325px; height: 370px; overflow-y: auto;display: flex; flex-direction: column;"></div>

        <!-- 채팅창 -->
        <hr style="margin-bottom: 0px">
<!--        <div style="position: absolute; bottom:0px; width: 330px" class="send-box">-->
<!--&lt;!&ndash;            <p class="font" style="font-size: 14px; margin-bottom: 0px;" >&ndash;&gt;-->
<!--                <input type="text" class="msg-box font" id="message" style="width: 150px; " />-->
<!--                <input class="btn btn-light btn-sm" type="button" style="font-size: 14px;" id="sendbtn" value="send" />-->
<!--&lt;!&ndash;            </p>&ndash;&gt;-->
<!--        </div>-->

        <div class="send-box" style="text-align: center">
            <input class="msg-box font" id="message" />
            <button id="sendbtn">전송</button>
        </div>
        <script>
            document.querySelector('#sendbtn').addEventListener('click', () => {
                let webSocket = new WebSocket("ws://ec2-13-56-171-130.us-west-1.compute.amazonaws.com:8080/ws/chat");
                let nick = document.querySelector('#nick');
                let message = document.querySelector('#message');

                webSocket.onopen = () => {
                    console.log("웹소켓연결성공");
                    webSocket.send(nick.getAttribute('value') + ":" + nick.getAttribute('name') + ":" + message.value);
                    message.value = '';
                };

                webSocket.onclose = () => {
                    console.log("웹소켓연결해제");
                };

                webSocket.onmessage = async (event) => {
                    console.log("서버로부터 메세지 수신 성공");
                    let data = event.data.split(":");
                    const date = new Date();
                    const year = date.getFullYear();
                    const month = date.getMonth();
                    const day = date.getDate();
                    const hour = date.getHours();
                    const min = date.getMinutes();
                    const clockTitle =`${year-2000}/${(month+1)<10?`0${(month+1)}`:(month+1)}/${day<10?`0${day}`:day}
                        ${hour<13?` 오전 ${hour<10?`0${hour}`:hour}`:` 오후 ${(hour-12)<10?`0${(hour-12)}`:(hour-12)}`}
                        : ${min<10?`0${min}`:min}
                    `;

                    const chatArea = document.querySelector('#chatarea');
                    let template = `
                        <div id="mentor" class="font" style="margin-left: auto; width:auto!important; max-width: 70%;word-break: break-all; border-radius: 0.5rem; padding: 0.5rem; margin-bottom: 5px; background-color: #efbdca; color: black;">
                            <span style="display: flex; flex-direction: column-reverse;  text-align: right; justify-content: end; width: auto;">${data[2]}</span>
                        </div>
                        <div id="mentor" class="font" style="font-size: 4px; text-align: right;">${clockTitle}</div>
                    `;
                    chatArea.insertAdjacentHTML("beforeend", template);
                    setTimeout(() => {
                        chatArea.scrollTo({ top: chatArea.scrollHeight, behavior: 'smooth' });
                    }, 0);
                };
            });

            document.querySelector("#outchat").addEventListener('click', () => {
                let out = confirm('채팅방을 정말 나가시겠습니까?');
                if(out) location.href='/';
            });

            document.querySelector("#gogpt").addEventListener('click', () => {
                let go = confirm('chatgpt로 이동하시겠습니까?');
                if(go) location.href='/chatgpt';
            });
        </script>
    </div>
</th:block>
</html>
