<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
                xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
                layout:decorate="~{layout/phonelay}">

<th:block layout:fragment="content">
    <div class="d-flex justify-content-start" style="">
        <div class="p-2 font" style="font-size: 8px; margin: 3px "> <b th:text="${user.getName()}" />님의 채팅방 목록</div>
    </div>

    <div style="margin: auto; text-align: center;">
        <!-- 매칭 1명 -->
        <div style="margin: 2px;" th:each="chat : ${chatlist}">
            <input type="button" class="btn-check" name="options3" id="match1" />
            <!-- <label class="btn btn-secondary font" style="width: 310px;border-color: rgba(216,90,123,1)!important; background-color: rgba(216,90,123,1)!important;" onClick="|location.href='/chat/${chat.getId()}'|"> -->
            <label class="btn btn-secondary font" style="width: 310px;" th:if="${chat.getStatus() == 0}"> <!-- 멘토링 예정 시에는 비활성화(클릭X) -->
                <p class="font" style="display:block; font-size: 20px;" th:text="|${chat.getId()}번 채팅방|"></p>
                <p class="font" style="display:block; font-size: 10px" th:text="|시작시간 : ${chat.getStartTime().substring(2, 4)}-${chat.getStartTime().substring(5, 7)}-${chat.getStartTime().substring(8, 10)} ${chat.getStartTime().substring(11, 13)}:${chat.getStartTime().substring(14, 15)}|"></p>
                <p class="font" style="display:block; font-size: 10px" th:text="|종료시간 : ${chat.getFinishTime().substring(2, 4)}-${chat.getFinishTime().substring(5, 7)}-${chat.getFinishTime().substring(8, 10)} ${chat.getFinishTime().substring(11, 13)}:${chat.getFinishTime().substring(14, 15)}|"></p>
                <p class="font" style="font-size: 12px; margin-bottom:0; color: black;" th:text="|멘토 : ${chat.getMentor().getNickname()}|"> </p>
                <p class="font" style="font-size: 2px; margin: 0; text-align: right" th:text="|멘토링 예정|"></p>
            </label>
            <label class="btn btn-secondary font" style="width: 310px;border-color: rgba(216,90,123,1)!important; background-color: rgba(216,90,123,1)!important;" th:onclick="|location.href='/chat/${chat.getId()}'|" th:unless="${chat.getStatus() == 0}">
                <p class="font" style="display:block; font-size: 20px;" th:text="|${chat.getId()}번 채팅방|"></p>
                <p class="font" style="display:block; font-size: 10px" th:text="|시작시간 : ${chat.getStartTime().substring(2, 4)}-${chat.getStartTime().substring(5, 7)}-${chat.getStartTime().substring(8, 10)} ${chat.getStartTime().substring(11, 13)}:${chat.getStartTime().substring(14, 15)}|"></p>
                <p class="font" style="display:block; font-size: 10px" th:text="|종료시간 : ${chat.getFinishTime().substring(2, 4)}-${chat.getFinishTime().substring(5, 7)}-${chat.getFinishTime().substring(8, 10)} ${chat.getFinishTime().substring(11, 13)}:${chat.getFinishTime().substring(14, 15)}|"></p>
                <p class="font" style="font-size: 12px; margin-bottom:0; color: darkgreen;" th:text="|멘토 : ${chat.getMentor().getNickname()}|"> </p>
                <p class="font" style="font-size: 2px; margin: 0; text-align: right" th:text="|멘토링 완료|"></p>
            </label>
        </div>
    </div>

</th:block>
</html>