<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
       xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
       layout:decorate="~{layout/phonelay}">
<th:block layout:fragment="content">
  <div>
    <!-- carousel -->
    <div id="carouselExampleIndicators" class="carousel slide">
      <div class="carousel-indicators">
        <button
                type="button"
                data-bs-target="#carouselExampleIndicators"
                data-bs-slide-to="0"
                class="active"
                aria-current="true"
                aria-label="Slide 1"
        ></button>
        <button
                type="button"
                data-bs-target="#carouselExampleIndicators"
                data-bs-slide-to="1"
                aria-label="Slide 2"
        ></button>
        <button
                type="button"
                data-bs-target="#carouselExampleIndicators"
                data-bs-slide-to="2"
                aria-label="Slide 3"
        ></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img
                  src="/images/main2.jpg"
                  class="d-block w-100"
                  alt="..."
                  height="150"
          />
        </div>
        <div class="carousel-item">
          <img
                  src="/images/main1.jpg"
                  class="d-block w-100"
                  alt="..."
                  height="150"
          />
        </div>
        <div class="carousel-item">
          <img
                  src="/images/main3.jpg"
                  class="d-block w-100"
                  alt="..."
                  height="150"
          />
        </div>
      </div>
      <button
              class="carousel-control-prev"
              type="button"
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
              class="carousel-control-next"
              type="button"
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <br>
    <!-- Section-->
    <section class="py-1">
      <div class="d-flex justify-content-start">
        <div th:if="${session.user}" class="p-2 font" style="font-size: 11px; margin: 3px "> <b th:text="${session.user.getName()}" />님을 위한 추천 카테고리</div>

        <div th:unless="${session.user}" class="p-2 font" style="font-size: 11px; margin: 3px "> <b th:text="DODU" />가 추천하는 카테고리</div>
      </div>
      <div th:if="${not #lists.isEmpty(categories)}">
        <div class="btn-toolbar text-center" role="toolbar" aria-label="Toolbar with button groups"
             style="margin-left: 10%;">
          <div class="btn-group btn-group-sm " role="group" aria-label="First group" style="">
            <div th:each="category : ${categories}">
              <button th:text="${category.getTitle()}" th:id="${category.id}" class="btn btn-outline-secondary font" onclick="changeCategory()" style="font-family: 'Spoqa Han Sans Neo', 'sans-serif'; margin:1px; color:white; background-color: rgba(216,90,123,1); border-color: rgba(216,90,123,1)" />
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="d-flex justify-content-start">
        <div th:if="${session.user}" class="p-2 font" style="font-size: 11px; margin: 3px "><b th:text="${session.user.getName()}" />님을 위한 추천 멘토</div>

        <div th:unless="${session.user}" class="p-2 font" style="font-size: 11px; margin: 3px "> <b th:text="DODU" />가 추천하는 멘토</div>
      </div>

      <div class="container px-4 px-lg-5" id="carousel-final">
        <!-- mento carousel-->
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner" id="mentor-carousel-inner">
            <div th:each="mentor, iterStat : ${categories.get(0).getMentors()}" class="carousel-item" th:classappend="${iterStat.index == 0} ? 'active'">
              <div th:text="${mentor.getCategory().getTitle()}" class="badge bg-light position-absolute font" style="top: 0.5rem; right: 0.5rem; color: black"></div>
              <div style="min-height: 405px;">
                <img class="" th:src="${mentor.getImage()}" alt="Slice" width="100%" height="405px" />
              </div>
              <div class="" style="padding: 10px; height: 50px">
                <div class="text-center">
                  <h5 th:text="${mentor.getNickname()}" class="fw-bolder font" style="font-size:10px; margin-bottom: -5px;"></h5>
                  <b th:text="${mentor.getUniversity()}" class="font" style="font-size: 3px;" /> <b th:text=" ${mentor.getMajor()}" class="font" style="font-size: 3px;" />
                </div>
              </div>
              <div class="" style="padding: 10px 10px 10px 10px; background-color: rgba(216,90,123,1);">
                <div class="text-center" th:unless="${session.user}">
                  <button class="btn btn-outline-light font btn-sm" style="font-size: 10px" onclick="checkLogin()" >
                    자세히 보기
                  </button>
                </div>
                <div class="text-center" th:if="${session.user}">
                  <a class="btn btn-outline-light font btn-sm" style="font-size: 10px" th:href="@{/applyForm/{mentorId}(mentorId=${mentor.getId()})}" >
                    자세히 보기
                  </a>
                </div>
              </div>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </section>
  </div>
  <script>
    const changeCategory = async () => {
      let categoryId = event.target.id;
      try {
        const response = await fetch(`/api/v1/carousel?categoryId=${categoryId}`);
        const data = await response.json();
        const carouselFinal = document.getElementById("carousel-final");
        carouselFinal.innerHTML =
                `<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner" id="mentor-carousel-inner">
                            ${data.map((item, index) =>`
                                <div class="carousel-item ${index === 0 ? 'active' : ''}">
                                    <div class="badge bg-light position-absolute font" style="top: 0.5rem; right: 0.5rem; color: black">
                                        ${item.category}
                                    </div>
                                    <div style="min-height: 405px;">
                                        <img class="" src="${item.image}" alt="Slice" width="100%" height="405px" />
                                    </div>
                                    <div class="" style="padding: 10px; height: 50px">
                                        <div class="text-center">
                                            <h5 class="fw-bolder font" style="font-size:10px; margin-bottom: -5px;">${item.nickname}</h5>
                                            <b class="font" style="font-size: 3px;">${item.university}</b>
                                            <b class="font" style="font-size: 3px;">${item.major}</b>
                                        </div>
                                    </div>
                                    <div class="" style="padding: 10px 10px 10px 10px; background-color: rgba(216,90,123,1);">
                                        <div class="text-center">
                                            <a class="btn btn-outline-light font btn-sm" style="font-size: 10px" href="/applyForm/${item.id}" >
                                                자세히 보기
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            `).join('')}
                        </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span> <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target= "#carouselExampleControls" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span> <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                `;
      }
      catch (error) {
        console.error(error);
      }
    }

    const params = new URLSearchParams(window.location.search);
    const isAlert = params.get('alert');

    if (isAlert === 'true') {
      const message = decodeURIComponent(params.get('message'));
      if (confirm(message)) history.back();
    }

    function checkLogin() {
      alert("로그인이 필요한 서비스입니다.");
      window.location.href = "/doduLogin";  // 로그인 페이지로 리디렉션
    }
  </script>
</th:block>
</body>
</html>